.dashboard-container-fluid{
    margin-top:20px;
}
.dashboard-container-fluid ul li{
    list-style-type: none;
    border:1px solid black;
    padding:10px;
    box-shadow: 4px 4px 10px 2px gray;
}


.dashboard-container-fluid ul li .dashboard-dashboard:link{
    color:black;
    text-decoration: none;
}

.dashboard-container-fluid ul li .dashboard-product:link{
    color:black;
    text-decoration: none;
}

.dashboard-container-fluid ul li .dashboard-user:link{
    color:black;
    text-decoration: none;
}



.dashboard-container-fluid ul li .dashboard-dashboard:visited{
    color:red;
}

.dashboard-container-fluid ul li .dashboard-product:visited{
    color:red;
}

.dashboard-container-fluid ul li .dashboard-user:visited{
    color:red;
}